[Unit]
Description=🤖 Toby the friendly server bot
After=network.target
Requires=network.target

[Service]
Restart=always
ExecStart=/usr/bin/tobyd
PrivateTmp=true

[Install]
WantedBy=multi-user.target
